/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

html {
    background: url(./bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
body, html {
    height: 100%;
    display: grid;
}

/*Login Form*/
.outer-container{
    margin-top: 10vh;
    margin: auto;
    width: 30vh;
}
.logo-img img {
    position: absolute;
    width: 20vh;
    margin: 0 10vh;
    z-index: 9999;
}
.login-container {
    margin-top: 10vh;
    width: 40vh;
    height: 40vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding-top: 10vh;
    border: 1px solid green;
  }
 .login-container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .8);
    filter: blur(10px);
    margin: -20px;
}
.login-container h1{
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px black;
}
.login-form {
    margin-top: 2vh;
    padding: 10px;
}
.login-form label {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 2vh;
}
.login-form input {
    width: 100%;
    height: 4vh;
    border: none;
    border-bottom: 1px solid green;
    background: transparent;
    color: white;
    
}
.login-form input::placeholder {
    opacity: 1;
    color: white;
    font-size: 1.5vh;
    font-family: 'Poppins', sans-serif;
}
.login-form button {
    margin-top: 20px;
    width: 100%;
    height: 4vh;
    background: black;
    color: white;
    border: 1px solid green;
    border-radius: 20px;
    transition: all 1s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
}
.login-form button:hover {
    background: transparent;
    color: white;
    border: 1px solid green;

}